body{
   background-color: rgba(104, 26, 26, 0.555);
   position: absolute;
   top: 0px;
   right: 0px;
   bottom: 0px;
   left: 0px;
   display: flex;
   flex-direction: column;
   height: 100%;
}

.coffee-page__imageList {
   display: flex;
   justify-content: center;
   margin-right: 80px;
   margin-left: 80px;
   padding-top: 20px;
   padding-bottom: 20px;
}

.coffee-page__table {
   display: flex;
   justify-content: center;
   margin-right: 80px;
   margin-left: 80px;
   padding-top: 20px;
   padding-bottom: 20px;
}

.cofee-page__title {
   display: flex;
   flex-flow: row;
   justify-content: center;
   margin-top: 20px;
   margin-bottom: 20px;
   font-size: 40px;
   font-family: 'Bradley Hand', cursive;
}