.homepage__main-container {
    background-image: url("./images/cover_image.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.homepage__quote {
    font-family: 'URW Chancert L', cursive;
    font-weight: bolder;
    font-size: 50px;
    width: 500px;
    padding-left: 80px;
    padding-top: 100px;
    color: rgba(255, 255, 255, 0.883);
}

.homepage__second-container {
    display: flex;
}

.homepage__info {
    font-weight: bold;
    font-size: 20px;
    padding-top: 50px;
    color: rgb(205, 134, 1);
    padding-left: 90px;
    display: inline;
}

.homepage__info2 {
    font-weight: bold;
    font-size: 20px;
    padding-top: 50px;
    color: rgb(205, 134, 1);
    padding-left: 30px;
    display: inline;
}

/* .homepage__third-container {
    font-weight: bold;
    font-family: 'URW Chancert L', cursive;
    font-size: 30px;
    margin-top: 50px;
    color: rgba(182, 168, 168, 0.994);
    padding-left: 80px;
} */
